<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Alex Cooper Auction Display</h1>

<%= will_paginate @auctions %>

<% # List all the auctions in our database %>
<% @auctions.each do |auction| %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title text-nowrap"><%= auction.name %></div>
      </div>
      <p><%= auction.location %></p>
      <p>Date(s) <%= auction.start_date %> - <%= auction.end_date %></p>
      <p><%= auction.description %></p>
    </div>
<% end %>

<%= will_paginate @auctions %>