<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @auction.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @auction.location %>
</p>

<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>
