<p id="notice"><%= notice %></p>

<h1>Auction Items</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Auction</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auction_items.each do |auction_item| %>
      <tr>
        <td><%= auction_item.item %></td>
        <td><%= auction_item.auction %></td>
        <td><%= link_to 'Show', auction_item %></td>
        <td><%= link_to 'Edit', edit_auction_item_path(auction_item) %></td>
        <td><%= link_to 'Destroy', auction_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auction Item', new_auction_item_path %>
