<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @auction_item.item %>
</p>

<p>
  <strong>Auction:</strong>
  <%= @auction_item.auction %>
</p>

<%= link_to 'Edit', edit_auction_item_path(@auction_item) %> |
<%= link_to 'Back', auction_items_path %>
