<% # display a notice if it is contain within the flash hash when this page is called %>

<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<h1>Alex Cooper Catalog</h1>

<% # display each item in our database %>
<% @items.each do |item| %>
    <div class="entry">
      <%= image_tag(item.image_url) %>
      <h3><%= item.title %></h3>
      <%= sanitize(item.description) %>
      <span class="price"><%= number_to_currency(item.price) %></span>
    </div>
<% end %>